# Virtual Environment
.venv/

# Python cache files
__pycache__/
*.pyc

# History file
history.txt
history.json

encrypted_message.txt
encrypted_output.txt

# Password files
password.txt

# Unwanted files
assets/Payment Status.pdf